.unselected {
    width: 20%;
}

.selected {
    border: solid orange 3px;
    width: 20%;
    box-sizing:border-box;
}

.imageSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 100%;
    justify-content: space-evenly;
}